<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="static/css/imageSlider.css">
  <title>Document</title>
</head>
<body>
  <div class="uniContainer">
  <div class="bigContainer">
    <div class="bigButton" onclick="goBack(1)"> < </div>
    <image class="image"></image>
    <div class="bigButton" onclick="goForward(1)"> > </div>
  </div>
</div>
  <div class="lineContainer">
    <div class="surface" onmouseover="setTimeout(moveThumbNailsBackwards(), 3000)"></div>
    <div class="thumbContainer">
    </div>
    <div class="surface" onmouseover="setTimeout(moveThumbNailsForward(), 3000)"></div>
  </div>
  <script src="static/js/slider.js"></script>
</body>
</html>