<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Document</title>
</head>

<body>
  <div class="bigflex">
    <div class="box">
      <div class="textBox heading">Name</div>
      <% if(!query){
          for(let i = 0; i < cocktails.length; i++ ){ %>
      <div class='textBox'><%= cocktails[i].name %>
      <div class=innerFlexBox>
      <% for(let j = 0; j < cocktails[i].contains.length; j++){ %>
        <% if(!(j === cocktails[i].contains.length)){ %>
      <div class='smallBox'><%= `${cocktails[i].contains[j]},  `%></div>
      <% } else{ %>
        <div class='smallBox'><%= `${cocktails[i].contains[j]}`  %></div>
        <% } %>
      <% } %>
      </div>
    </div>
      <%} %>
      <%} %>
    </div>
    <div class="box box2">
        <div class="textBox heading">Price</div>
      <% if(!query){
          for(let i = 0; i < cocktails.length; i++ ){ %>
      <div class="textBox"> <%= cocktails[i].price %> </div>
        <%} %>
        <%} %>
      </div>



    </div>



</body>

</html>