<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <title>Document</title>
</head>

<body>
  <div id="containerBooks">
    <ul id='bookList'>
    </ul>
  </div>
  <form id="addBook" action="/index">
    <div class="inputContainer">
      <input type="checkbox" id="hide" />
      <label for="hide">Hide titles</label>
    </div>
    <div class='inputContainer'>
      <input type="text" name="title" placeholder="Add a title" />
      <input type="text" name="author_name" placeholder="Add an author" />
      <button type="submit" id="addButton">Add</button>
    </div>
  </form>
  <script src="static/app.js"></script>
</body>

</html>


